<!-- reviews.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Reviews</title>
</head>
<body>
    <h1>Google Reviews</h1>
    <ul>
        {% for review in google_reviews %}
            <li>
                <p>Rating: {{ review.starRating }}</p>
                <p>Comment: {{ review.comment }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
